.presentation-section {
    margin: 80px 0;
}
.presentation-section .content {
    font-family: "Montserrat";
    text-align: left;
}
.presentation-section .content>* {
    margin-bottom: 24px;
}
.presentation-section .title {
    font-family: "Pathway Gothic One";
    font-size: 1.9rem;
    text-align: center;
}
.presentation-section .bar {
    background-color: #111;
    height: 3px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.presentation-section .description {
    font-family: 'Montserrat';
    font-size: 1.1rem;
    text-align: justify;
    margin: 24px 0;
}
.presentation-section .description p {
    margin-bottom: 8px;
}
.presentation-section .items {
    font-weight: 600;
    padding: 1rem;
}
.presentation-section .items>* {
    margin-bottom: .5rem;
}
.presentation-section .link-row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
/* @media (min-width: 992px) {
    .presentation-section .container {
        padding: 0 60px;
    }
} */