@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root {
    --blue: #366bf2;
    --green: #3cba31;
  --red: #ff2b2b;
  --white: #fdfcfb;
  --beige-light-1: #f8f6ea;
  --beige-light-2: #ebeabe;
  --beige: #ccc298;
  --beige-dark: #5e5149;
  --brown: #281e1c;
  --brown-dark: #090504;
  --metal-blue: #7399b2;
  --metal-orange: #e0b97f;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}
a:hover, button:hover {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}


/* ////// header ////// */

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
.site-header, .site-menu {
    background-color: var(--brown-dark);
    box-shadow: 0 0 3px #1111;
    color: #fff;
    font-family: "Montserrat";
}
.com-bar {
    padding: 0;
}
.bar-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bar-col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.bar-col a{
    display: block;
    text-align: center;
}
.left-bar-col, .right-bar-col {
    position: absolute;
    top: 0;
    height: 100%;
}
.left-bar-col {
    left: 0;
}
.right-bar-col {
    right: 0;
}

.sim-bar {
    display: block;
    text-align: center;
}

.site-header {
    background-color: var(--white);
    color: black;
    border-bottom: 2px solid var(--beige-light-1);
    box-shadow: 0 0 10px #0004;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.site-header .bar-col {
    padding: .8rem;
}
.site-header .left-bar-col,.site-header .right-bar-col {
    font-family: "Pathway Gothic One";
}
.site-header .site-name {
    font-family: "Times New Roman";
}

.site-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -20rem;
    z-index: 999;
    height: 100vh;
    width: 20rem;
    transition: 0.3s;
}
.menu-screen.active .site-menu {
    right: 0;
    transition: 0.3s;
    box-shadow: 0 0 10px #0004;
}
.site-menu .sim-bar {
    padding: 1rem;
}
.site-menu .bar-row {
    padding: 0rem;
}
.site-menu .com-bar {
    padding: 1rem;
}
.site-menu .com-bar .logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;;
    border: 2px solid #fff;
}
.site-menu .menu-section--white {
    background-color: var(--white);
    color: #111;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.4rem;
    flex-grow: 1;
}
.site-menu .menu-section--white .title {
    font-size: 1.5rem;
    border-bottom: 2px solid #444;
    padding: .1rem 0 .2rem;
    text-align: left;
}
.site-menu .menu-section--white .item {
    font-size: 1rem;
    padding: 1rem 0;
    text-align: left;
}
.close-menu {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000020;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}
.menu-screen.active .close-menu {
    display: block;
}

/* ///// Footer ///// */

.site-footer{
    padding: 1rem;
    margin-top: 160px;
    border-top: 2px solid var(--beige);
}

/* small */
@media (min-width: 576px) {
}
/* medium */
@media (min-width: 768px) {    
    .site-main .row {
        gap: 2rem;
    }
    .site-main .logo {
        height: 11rem;
        width: 11rem;
    }
    .site-main .letreiro {
        font-size: 2.3rem;
    }
}
/* large */
@media (min-width: 992px) {
    .site-main .row {
        gap: 2rem;
    }
    .site-main .logo {
        height: 13rem;
        width: 13rem;
    }
    .site-main .letreiro {
        font-size: 2.9rem;
    }
}

/* ///// Bootstrap ///// */

