.main-layout {
    display: flex;
    width: 100%;
}
.main-layout .main-content {
    width: 100%;
    transition: 0.5s;
}
.main-layout--two-cols > .main-content { /* .main-layout--two-cols>* */
    width: 50% !important;
}
.main-layout .video-spacer {
    display: none;
    /* flex: 1 1 50%; */
    height: 1px;
    flex-shrink: 0;
}
.main-layout--two-cols .video-spacer {
    display: block;
    height: 500px;
}

.container--quadro {
    padding: 5vh 1rem 5vh;
}
.quadros-section {
    padding-bottom: 50vh;
}
.quadro {
    background-color: #fcfcfc;
    border: 4px solid var(--beige);
    border-radius: 10px;
    box-shadow: 0 0 4px #1112;
    color: var(--brown);
    font-size: 95%;
    font-family: "Montserrat";
    max-width: 600px;
    margin: 0;
    padding: .2rem .8rem 1rem;
    gap: .3rem;
    font-weight: 500;
}
.quadro--blue {border-color: #98b6ee; color: #3964b6}
.quadro--red {border-color: #cf5761; color: #ca515c}
.quadro--orange {border-color: #e9a288; color: #bb6a47}
.quadro--purple {border-color: #bfa4d7; color: #655474}
.quadro--green {border-color: #609f49; color: #1d702f}
.quadro--yellow {border-color: #bec850; color: #9ba25c}
.quadro--black {border-color: #4d4d4d; color: #000000}
.quadro--exercise {background-color: var(--beige-dark);color: #fff;}

.quadro-item {
    border-radius: 2px;
    position: relative;
}

.quadro a {
    font-weight: 600;
    text-decoration: underline;
}
.quadro a:hover {
    text-decoration: none;
}

.quadro-item:nth-child(1) {
    /* padding-right: 3rem; */
    min-height: 4rem;
}

.quadro-item {
    padding: .5rem .3rem .5rem;
}
.quadro-h {
    /* color: var(--brown); */
    font-size: 200%;
    font-family: "Pathway Gothic One";
    flex-grow: 1;
}
.quadro-n {
    /* color: var(--beige-dark); */
    font-size: 450%;
    float: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: -.4rem;
    margin-right: -.2rem;
    padding: 0 0 0 .3rem;
    opacity: 85%;
}
.quadro pre {
    padding: .2rem;
}
.quadro-t {
}
.quadro-c {
    text-align: center;
    opacity: 97%;
    font-size: 90%;
    font-weight: 400;
}
.quadro-display {
    box-shadow: 0 0 3px #1111;
    border-radius: 5px;
}
.quadro-code {
    color: #fff;
    font-weight: 100;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 15rem;
    white-space: pre !important;
}
.quadro-code .highlight {
    color: #fff;
    font-weight: 900;
}
.quadro-display:has(img) {
    box-shadow: none;
    display: flex;
    justify-content: center;
}
.quadro-display:has(pre.quadro-code){
    background-color: var(--brown-dark);
}
.quadro-display:has(pre.quadro-t){
    background-color: var(--beige-light-2);
}
.quadro-img { 
    max-width: 100%;
    max-height: 15rem;
    width: auto;
    height: auto;
}
.quadro-t {
    white-space: pre-wrap !important;
}
.quadro-display .quadro-t {
    color: #000;
    max-height: 15rem;
    padding: 1rem !important;
    overflow-y: auto;
    scrollbar-arrow-color: var(--brown-dark); /* nao foi*/
}

.quadro-display .quadro-t a {
    color: var(--brown);
}
.quadro-display .quadro-t .highlight {
    color: #000;
    font-weight: 800;
}

@media (max-width: 600px){
    .container--quadro {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .quadro {
        font-size: 88%;
        padding-left: .4rem;
        padding-right: .4rem;
    }

    .quadro-n {
        font-size: 3.5rem;
    }
}

.video-display {
    display: none;
    position: fixed;
    bottom: 38px;
    width: 100%;
}
.video-display.active {
    display: flex;
}
.video-display-lg {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}
.video-display .border {
    width: 97%;
    margin: 0px auto;
    background-color: var(--brown-dark);
    padding: 5px;
    border-radius: 5px;
}
.video-display iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 18 / 9;
}

.video-button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 35px;
    padding: 0 4px 4px;
    transition: 0.8s;
    bottom: 35;
}
.video-button-container-lg {
    width: 50%;
    /* bottom: 60px; */
}
.video-button-container .video-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 6px;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
}
.video-button-container .video-button .video-button-text {
    display: block;
}
.video-button-container .yt-icon {
    display: none; 
    height: 30px;
    width: auto; 
    margin: 0 0 4px 0;
}
/* .video-button-container .video-button.active .yt-icon {
    display: block;
} */